<header class="hero">
  <div class="wrapper">
	<div class="content">
	  
<!-- To Delete -->
<img src="assets/images/dresser.png" />
  <h1>Coming Soon</h1>
	  <ul class="contact-list">
	    {% if site.etsy_username %}
	      <li>
	        {% include icons/etsy.html %}
	      </li>
	      {% endif %}

	    {% if site.facebook_username %}
	      <li>
	        {% include icons/facebook.html %}
	      </li>
	    {% endif %}
	      
	    {% if site.email %}
	      <li>
	        {% include icons/mail.html %}
	      </li> 
	    {% endif %}
		</ul>
<!-- To Delete -->
	</div>
  </div>
</header>
