<section class="info wrapper" id="info">
    <header class="section-header">
      <h1>Info</h1>
	</header>
	{% include icons/chat.html %}
	{% include icons/tools.html %}
	{% include icons/truck.html %}
	<p>French inspired restored furniture. Policies, style, orderng, custom orders, how I do my work, what type
	of paint I use, my experience and history. Put as many keywords as possible here. Chicago. Nusam, odis-
	qui denis qui consed eveniscilit explam am architi bustia ium que voloria simolup tiatecti culla dolorei citios magnam velic te delescil invella borrumqui occulparum et pari si conseceaquia volor alibust, et ommolores min exero voluptur sum aut eaquas ulpariam, venimposam cumque expeligent qui as qui quatemo blam face- ria qui dolorest, voluptatis anihil maiorume pelibus, tecum, sitio dollum lab id quam ipsam velesti berciandem dolore perenis ese nonsectem. Alitesequi debitat endessime cum velendest doluptatia samendent.
	Epudaernam voluptatur? Musdam rescil minis nonsequam hil iuntur re minctatur serunto blaute moleste sitat quam est, conse voluptatem exerovid quam, sequiasim ariatquam faccull uptate solum quist a et, optatur, ipi- dias aut ut estion nimin cum dolendi ssunt, sitaturion por magnamus, omnimodis inus quibus pre, consequo</p>
</section>
