<section class="info wrapper" id="info">
    <header class="section-header">
      <h1>Info</h1>
	</header>
	<aside class="process">
		<div class="card">
			{% include icons/chat.html %}
			<h2>Consult</h2>
		</div>
		<div class="card">
			{% include icons/tools.html %}
			<h2>Restore</h2>
		</div>
		<div class="card">
			{% include icons/truck.html %}
			<h2>Ship</h2>
		</div>
	</aside>
	<p>French inspired restored furniture. Policies, style, orderng, custom orders, how I do my work, what type
	of paint I use, my experience and history. Put as many keywords as possible here. Chicago.</p>
	<p>Epudaernam voluptatur? Musdam rescil minis nonsequam hil iuntur re minctatur serunto blaute moleste sitat quam est, conse voluptatem exerovid quam, sequiasim ariatquam faccull uptate solum quist a et, optatur, ipi- dias aut ut estion nimin cum dolendi ssunt, sitaturion por magnamus, omnimodis inus quibus pre, consequo</p>
</section>
