<nav class="nav">
  <div class="wrapper">
    <div class="content">
        {% if page.is_home %}
            <a class="brand" href="#">
                {% include icons/logo.html %}
                <h1>Oakdale Boutique</h1>
            </a>
        {% else %}
            <a class="brand" href="{{ site.url }}">
                {% include icons/logo.html %}
                <h1>Oakdale Boutique</h1>
            </a>
        {% endif %}
    	<ul>
            {% if page.is_home %}
        		<li><a href="#shop">Shop</a></li>
        		<li><a href="#info">Info</a></li>
        		<li><a href="#contact">Contact</a></li>
            {% else %}
                <li><a href="{{ site.url }}#shop">Shop</a></li>
                <li><a href="{{ site.url }}#info">Info</a></li>
                <li><a href="{{ site.url }}#contact">Contact</a></li>
            {% endif %}
    	</ul>
    </div>
  </div>
</nav>
