<nav class="nav">
  <div class="wrapper">
    <div class="content">
        {% if page.is_home %}
            <h1><a href="#">Oakdale Boutique</a></h1>
        {% else %}
            <h1><a href="{{ site.url }}">Oakdale Boutique</a></h1>
        {% endif %}
    	<ul>
            {% if page.is_home %}
        		<li><a href="#shop">Shop</a></li>
        		<li><a href="#info">Info</a></li>
        		<li><a href="#contact">Contact</a></li>
            {% else %}
                <li><a href="{{ site.url }}#shop">Shop</a></li>
                <li><a href="{{ site.url }}#info">Info</a></li>
                <li><a href="{{ site.url }}#contact">Contact</a></li>
            {% endif %}
    	</ul>
    </div>
  </div>
</nav>
