/**
 * Contact Section
 */

.contact {
	text-align: center;
	.contact-list {
		margin: $spacing-unit 0 $spacing-unit * 2 0;
		li {
			display: inline;
			a {
				display: inline-block;
				padding: $spacing-unit / 2;
				opacity: .7;
				&:hover, &:active {
					opacity: 1.0;
					@include transform(translateY(-2px));
				}
			}
		}
	}
}