/**
 * Site Hero
 */

.hero {
	background: url('http://res.cloudinary.com/dbytj1unq/image/upload/v1427902735/Oakdale-Boutique/hero2.jpg');
	background-size: cover;
	text-align: center;
	color: $white;
	position: fixed;
    z-index: 1;
    margin-top: 50px !important;
    bottom:  0;
    left: 0;
    right: 0;
  	-webkit-animation-name: hero;
	-webkit-animation-duration: 30s;
	-webkit-animation-iteration-count: infinite;
	-moz-animation-name: hero;
	-moz-animation-duration: 30s;
	-moz-animation-iteration-count: infinite;
    animation-name: hero;
  	animation-duration: 30s;
  	animation-iteration-count: infinite;
  	img {
  		background-size: cover;
  		height: 100%;
  		width: 100%;
  	}
	.wrapper {
		width: 600px + $spacing-unit;
	    margin: auto;
	    @include media-query($device-small) {
	    	margin: 0;
	    }
	}
	.content {
		padding: $spacing-unit / 2;
		@extend .flex-aligner-item;
		@extend .flex-aligner-item--fixed;
	}
}
