/**
 * Site Hero
 */

.hero {
	background: url('//res.cloudinary.com/dbytj1unq/image/upload/q_80/v1429111788/Oakdale-Boutique/Hero/hero.jpg');
	background-size: cover;
  background-position: center;
	text-align: center;
	color: $white;
	position: fixed;
  z-index: 1 !important;
  margin-top: 50px !important;
  bottom:  0;
  left: 0;
  right: 0;
  -webkit-animation-name: hero;
  -webkit-animation-duration: 30s;
  -webkit-animation-iteration-count: infinite;
  -moz-animation-name: hero;
  -moz-animation-duration: 30s;
  -moz-animation-iteration-count: infinite;
  animation-name: hero;
  animation-duration: 30s;
  animation-iteration-count: infinite;
  background-size: cover;
  height: 100%;
  width: 100%;
  @include media-query($device-medium) {
    top: 0;
    background-size: cover;
    height: 340px !important;
    width: 100%;
  }
}
