/**
 * Info Section
 */

section.info {
	.process {
		display: flex;
		justify-content: center;
		margin-bottom: $spacing-unit;
		text-align: center;
		@include media-query($device-small) {
			display: block;
		}
		.card {
			margin: 0 $spacing-unit * 2;
			@include media-query($device-small) {
				margin: $spacing-unit 0;
				display: block;
			}
		}
		.icon>svg {
			height: 70px;
			path {
				fill: $grayLight;
				stroke: $grayLight;
			}
		}
		.icon--truck>svg {
			path {
				fill: none;
				stroke-width: 2.5;
			}
		}
		h2 {
			margin-top: $spacing-unit / 2;
			font-family: $sans;
			text-align: center;
			font-size: $large-font-size;
			color: $grayLight;
			letter-spacing: 1px;
		}
	}
	p {
		font-family: $serif;
		font-size: $large-font-size;
		margin-bottom: $spacing-unit / 2;
	}
}
