/**
 * Info Section
 */

section.info {
	.process {
		display: -webkit-box;
		display: -moz-box;
		display: -ms-flexbox;
		display: -webkit-flex;
		display: flex;
		justify-content: center;
		-webkit-box-align: center;
		-webkit-flex-align: center;
		-ms-flex-align: center;
		-webkit-align-items: center;
		-webkit-justify-content: center;
		align-items: center;
		margin-bottom: $spacing-unit;
		text-align: center;
		.card {
			margin: 0 $spacing-unit * 2;
			@include media-query($device-small) {
				margin: 0 $spacing-unit / 2;
			}
		}
		.icon>svg {
			height: 70px;
			@include media-query($device-small) {
				height: 40px;
			}
			path {
				fill: $grayLight;
				stroke: $grayLight;
			}
		}
		.icon--truck>svg {
			path {
				fill: none;
				stroke-width: 2.5;
			}
		}
		h2 {
			margin-top: $spacing-unit / 2;
			font-family: $sans;
			text-align: center;
			font-size: $base-font-size;
			color: $grayLight;
			letter-spacing: 1px;
		}
	}
	p {
		font-family: $serif;
		font-size: $large-font-size;
		margin-bottom: $spacing-unit / 1.25;
	}
	h3 {
		font-family: $sans;
		font-size: $base-font-size;
		color: $grayLight;
		font-weight: 700;
	}
}
