/**
 * Site Nav
 */

.nav {
	height: 50px;
	display: block;
	background: $white;
	position: fixed;
	z-index: 20;
	box-shadow: 0px 0px 10px $gray;
	width: 100%;
	h1 {
		font-family: $script;
		font-size: $xlarge-font-size;
		line-height: 50px;
		display: inline;
		float: left;
		padding: 0;
		a {
			color: $grayDark;
			&:hover {
				color: $grayDark;
			}
		}
		@include media-query($device-small) {
 			display: none;
 			visibility: hidden;
 		}
	}
	ul {
		float: right;
		list-style-type: none;
		line-height: 50px;
		font-family: $sans;
		font-size: $base-font-size;
		margin: 0;

		li {
			display: inline;
			border-right: 1px solid;
			padding: 3px $spacing-unit / 2;
			letter-spacing: 1px;
			&:last-child {
				border: none;
				padding-right: 0;
			}
		}
		a {
			color: $grayDark;
		}
		@include media-query($device-small) {
 			float: none;
 			text-align: center;
 		}
	}
}
