/**
 * Site Nav
 */

.nav {
	height: 50px;
	display: block;
	background: $white;
	position: fixed;
	z-index: 2000;
	box-shadow: 0px 0px 10px $gray;
	width: 100%;
	a.brand {
		line-height: 50px;
		display: inline;
		float: left;
		padding: 0;
		color: $grayDark;
		&:hover {
			color: $grayDark;
		}
		h1 {
			font-family: $script;
			font-size: $xlarge-font-size;
			display: inline-block;
			line-height: 56px;
			@include media-query($device-small) {
 				display: none;
 				visibility: hidden;
 			}
		}
		.icon > svg {
			float: left;
			height: 34px;
			margin: 8px 10px 8px 0;
			line-height: 50px;
			path {
				fill: $grayDark;
				stroke: $grayDark;
			}
		}
	}
	ul {
		float: right;
		list-style-type: none;
		line-height: 52px;
		font-family: $sans;
		font-size: $base-font-size;
		margin: 0;

		li {
			display: inline;
			border-right: 1px solid;
			padding: 3px $spacing-unit / 2;
			letter-spacing: 1px;
			&:last-child {
				border: none;
				padding-right: 0;
			}
		}
		a {
			color: $grayDark;
		}
	}
}
