/**
 * Post
 */

.post {
	.post-content {
		margin-top: 50px;
		header {
			margin-bottom: $spacing-unit * 2;
		}
		.post-title {
			display: inline-block;
			max-width: 70%;
			white-space: normal;
			line-height: 1.0;
			float: left;
			@include media-query($device-small) {
 				width: 65%;
 				font-size: $large-font-size;
 			}
		}
		.price {
			color: $grayLight;
			font-family: $sans;
			font-size: $large-font-size;
			line-height: 1.2;
			clear: left;
			@include media-query($device-small) {
				font-size: $base-font-size;
 			}
 			&.sold {
 				text-decoration: line-through;
 			}
		}
		.buy {
			float: right;
			width: 27%;
			padding: 15px 0;
			@include media-query($device-small) {
				font-size: $base-font-size;
				width: 35%;
			}
			&.disabled {
				&:hover {
					cursor: default;
					background: lighten($green, 15%);
				}
			}
		}
		p {
			margin-bottom: $spacing-unit;
			font-size: $large-font-size;
		}
		h6 {
			font-family: $sans;
			font-size: $base-font-size;
			margin-bottom: $spacing-unit;
			font-weight: 300;
		}
		img {
			max-width: 100%;
			margin-bottom: $spacing-unit;
		}
	}
}