/**
 * Post
 */

.post {
	.post-content {
		margin-top: 50px;
		header {
			margin-bottom: $spacing-unit;
		}
		.post-title {
			display: inline-block;
			max-width: 70%;
			text-overflow: ellipsis;
			white-space: nowrap;
			overflow: hidden;
			line-height: 1.0;
			@include media-query($device-small) {
 				width: 65%;
 				font-size: $large-font-size;
 			}
		}
		.price {
			color: $grayLight;
			font-family: $sans;
			font-size: $large-font-size;
			line-height: 1.0;
		}
		.buy {
			float: right;
			width: 27%;
			padding: 15px 0;
			@include media-query($device-small) {
				font-size: $base-font-size;
				width: 35%;
			}
		}
		p {
			margin: $spacing-unit / 2 0;
			font-size: $large-font-size;
		}
		img {
			width: 100%;
			margin: $spacing-unit / 2 0;
		}
	}
}