/**
 * Work Section
 */

section.work {
	background-color: $white;
	padding: $spacing-unit 0 0;
	max-width: 1700px;
	margin: auto;
	.post-preview {
		width: 100%;
		height: auto;
		@extend .flex-aligner;
		&:nth-child(odd) {
			-webkit-flex-direction: row; 
			flex-direction: row;
		}
		&:nth-child(even) {
			-webkit-flex-direction: row-reverse; 
			flex-direction: row-reverse;
		}
		a img {
			width: 100%;
			height: auto;
			overflow: hidden;
			opacity: .9;
			@include transition(all, 0.3s, ease-in-out);
			&:hover {
				opacity: 1;
			}
		}
		.excerpt-wrapper {
			width: 50%;
			height: 100%;
			text-align: center;
			@extend .flex-aligner-item;
			@extend .flex-aligner-item--fixed;
			.excerpt {
				width: 90%;
				max-width: 600px;
				margin: auto;
				@include media-query($device-medium) {
					padding: 0;
					width: 100%;
					max-width: 100%;
		 		}
			}
		}
		h2 {
			font-size: $base-font-size;
			margin: $spacing-unit / 2 0;
			width: 100%;
			display: block;
			text-align: center;
		}
		p {
			font-family: $sans;
			font-size: $large-font-size;
			color: $gray;
			@include media-query($device-medium) {
		 		display: none;
		 	}
		}
	}
}
