/**
 * Work Section
 */

section.shop {
	text-align: center;
	.post-list {
	  display: -webkit-box;
	  display: -moz-box;
	  display: -ms-flexbox;
	  display: -webkit-flex;
	  display: flex;
	  -webkit-flex-flow: row wrap;
	  flex-flow: row wrap;
	  -webkit-justify-content: space-between;
	  justify-content: space-between;
	}
	li.post-preview {
		@include transition(all, 0.3s, ease-in-out);
		box-sizing: border-box;
		-webkit-flex: 0 0 auto;
  		flex: 0 0 auto;
  		margin: $spacing-unit / 2;
  		width: 30%;
  		background: lighten($grayLight, 20%);
  		&:nth-child(3n+1) { 
  			margin-left: 0;
  		}
  		&:nth-child(3n+3) {
  			margin-right: 0;
  		}
  		a {
  			display: block;
  			height: 100%;
  			width: 100%;
  			img {
				width: 100%;
				border-bottom: 2px solid $grayLight;
  			}
  		}
		h2 {
			
		}
		p {
			font-family: $sans;
			font-size: $large-font-size;
			color: $gray;
		}
		aside {
			display: block;
			padding: $spacing-unit / 2 $spacing-unit / 3;
			span.title {
				display: inline-block;
				width: 80%;
				text-overflow: ellipsis;
				color: $grayDark;
				text-align: left;
				font-family: $sans;
			}
			span.price {
				float: right;
				width: 20%;
				color: $green;
				font-weight: 700;
				text-align: right;
				font-family: $sans;
			}
		}
	}
	a.button {
		display: inline-block;
		margin-top: $spacing-unit;
	}
}
