---
layout: default
---

{% include nav.html %}
<div class="post wrapper">
	<section class="post-content">
    <header>
      <h1 class="post-title">{{ page.title }}</h1>
      	{% if post.is_sold %}
      	 <h2 class="price sold">&nbsp;SOLD&nbsp;</h2>
        {% else %}
      	 <a href="#" class="buy button">Buy on Etsy</a>
      	 <h2 class="price">{{ page.price }}</h2>
        {% endif %}
    </header>
	  <article>
	    {{ content }}
	  </article>
	</section>
	{% include footer.html %}
</div>
